.Alert {
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 40px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 4px ;
}
.success {
    background: #F5DEB3;
    color: #D2B48C;
}
.danger {
    background: #8FBC8F;
    color: #228B22;
}
.dismis {
    background: transparent;
    border: none;
    float: right;
    font-size: 18px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}