.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.modal-block {
    padding: 10px 10px;
    border-bottom: 1px solid #cccccc ;
}
.modal-title {
    float: left;
    font-weight: 400;
}
.btn-close {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    float: right;
    padding: 10px 5px;
    color: #cccccc;
}
.modal-content {
    padding: 10px 10px 5px 10px;
    font-size: 14px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}